server:
#本地端口号
  port: 8888
spring:
  application:
#  服务名
    name: Test-Cloud-Zuul
eureka:
  client:
    service-url:
#    注册中心地址（集群）
      defaultZone: http://127.0.0.1:8177/eureka/,http://127.0.0.1:8176/eureka/

zuul:
#  给网关添加前缀否则不能访问http://localhost:8888/bigkang/user/yo/hello
   prefix: /bigkang
   routes:
     users:
#     我们要映射的路径
       path: /user/**
#       我们需要映射的服务名
       serviceId: test-user-server-one
     feign:
       path: /feign/**
       serviceId: test-user-server-feign
#    忽略服务的名字，不能通过服务名直接访问，也就是禁止直接通过服访问，不能以
#    http://localhost:8888/test-user-server-one/yo/hello是不能访问的，
#    我们只能http://localhost:8888/user/yo/hello来访问他
   ignored-services: '*'


