server:
  port: 80
spring:
  application:
    name: Test-User-Server-Feign

eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:8177/eureka/,http://127.0.0.1:8176/eureka/
      management:
        endpoints:
          web:
            exposure:
              include:  '*'
feign:
  hystrix:
    enabled: true

